 *{
   list-style-type: none;
 }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-full {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}
.loading-full.hidden {
  display: none;
}
.loading-full .spinner-holder {
  height: 7rem !important;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  color: #000;
  width: 7rem !important;
}
.loading-full .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: rgba(255, 255, 255, 0.95);
}
.loading-full .preloader .loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}
.loading-full .preloader .loading-icon * {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.loading-full .preloader .loading-icon .dot {
  display: block;
  border-radius: 50%;
  background-color: #000;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: bubble 1.2s -0.6s infinite ease-out;
  -webkit-animation: bubble 1.2s -0.6s infinite ease-out;
}
.loading-full .preloader .loading-icon .bubble {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

